max_downloads_global = 10
max_peers = 100
max_uploads = 20

directory = /data/torrents
session = /data/.session

port_range = 49876-49876
port_random = no

check_hash = yes

dht = auto
dht_port = 6881
peer_exchange = yes

encryption = allow_incoming,try_outgoing,enable_retry

use_udp_trackers = yes

scgi_port = 127.0.0.1:5000
